---
Language: Cpp
IndentWidth: 4
ColumnLimit: 80
SpacesInParentheses: false
IndentPPDirectives: AfterHash
IndentCaseLabels: true
BreakAfterReturnType: AllDefinitions
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: All
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: true
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: true
AlignTrailingComments: Always
BinPackArguments: false
BinPackParameters: false 
QualifierAlignment: Custom
QualifierOrder: [static, inline, type, volatile, const]
---
