---
IndentWidth: 4
ColumnLimit: 80
SpacesInParentheses: false
IndentPPDirectives: AfterHash
IndentCaseLabels: true
BreakAfterReturnType: AllDefinitions
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: All
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: Align
AlignTrailingComments: Always
BinPackArguments: true
BinPackParameters: true
QualifierAlignment: Custom
QualifierOrder: [static, inline, type, volatile, const]
BreakBeforeBraces: Custom
BraceWrapping:
  AfterControlStatement: Always
  AfterCaseLabel: true
  AfterFunction: true
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  BeforeElse: true
  BeforeWhile: true
  SplitEmptyFunction: false
---
